GOOGLE_CREDENTIALS_JSON=your_google_credential_coded_with_base64
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id
POSTGRES_URL=jdbc:postgresql://localhost:5433/techstars_db
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres